body {
  font-family: Tahoma,Verdana,Segoe,sans-serif;
  margin: 2em;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

header{
  margin: 0px;
  padding: 10px;
  height: 50px;
  background-color: #e76f51;
}

h1 {
  color: #FFFFFF;
  float: left;
  font-size: 150%;
}

p {
  color: #342E37;
}

button {
  font-family: avenir;
  font-size:100%;
  background-color: #2a9d8f;
  color: #FFFFFF;
  padding: 10px;
  margin: 5px 3px 5px 10px;
  align-items: center;
  display: block;
  border-radius: 8px;
  border: none;
}

button:hover {
  background-color: #264653;
}

img {
  padding: 5px;
  width: 350px;
}

.dropzone {
  background: white;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.dropzone .dz-preview .dz-image {
  border-radius: 0px;
}

.filter-white{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(45deg) brightness(104%) contrast(103%);
}
